# Инициализация
APP_CONFIG__SUPERADMIN__LOGIN=your_superadmin_login
APP_CONFIG__SUPERADMIN__PASSWORD=your_superadmin_password

# База данных
APP_CONFIG__DB__URL=postgresql+asyncpg://postgres:your_password@localhost:5432/fastapi_auth
APP_CONFIG__DB__ECHO=false
